<%- include('../partials/head') %>
<%- include('../partials/footer') %>
        <h1 style="color: red;">Are you sure you want to delete: <%= product.name %></h1>
        <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
            <button style="background-color: red;" type="submit">DELETE</button>
        </form>
        <a href="/products/<%= product._id %>"><button style="background-color: green;">Cancel</button></a>
        