<%- include('../partials/head') %>
<%- include('../partials/footer') %>
        <h1>Create a new product</h1>
        <form action="/products/<%= product._id %>?_method=PUT" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Product Name" value="<%= product.name %>">
            <br><br>
            <label for="price">Price</label>
            <input type="number" name="price" placeholder="Product Price" value="<%= product.price %>">
            <br><br>
            <label for="categories">Category</label>
            <select name="categories" id="p-categ">
                <option value="fruit" <%= product.categories ===  'fruit' ? 'selected' : '' %>>Fruit</option>
                <option value="vegetable" <%= product.categories ===  'vegetable' ? 'selected' : '' %>>Vegetable</option>
                <option value="dairy" <%= product.categories ===  'dairy' ? 'selected' : '' %>>Dairy</option>
            </select>
            <br><br>
            <button type="submit">Create!</button>
        </form>
        