<%- include('../partials/head') %>
<%- include('../partials/footer') %>

    <div class="filter-section">
        <span><b>Filter By - </b></span>
        <a href="/products" class="filters">All</a>
        <% for(let category of allCategories) {%> 
            <a href="/products?category=<%= category %>" class="filters"><%= category %></a>
        <%} %>
    </div>
    <h1><%= category[0].toUpperCase() + category.slice(1) %>  Products Here</h1>
    <div class="products-div container">
        <% for(let product of products){ %>
            <div class="container-fluid product-body">
                <h2 class="name"><%= product.name %> </h1>
                <h3 class="price"><b>$<%= product.price %></b></h3>
                <a href="/products/<%= product.id %>">More Details</a>
            </div>
        <% } %>
    </div>
    <a href="/products/new"><button>Create Product</button></a>

